name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: "3 3 * * 2" # 3:03 AM, every Tuesday

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    if: github.event_name != 'pull_request' || !contains(github.event.pull_request.title, '[skip ci]')
    name: ${{ matrix.platform }} (Swift ${{ matrix.swift }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macOS
        swift:
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        uses: mxcl/xcodebuild@v3
        with:
          platform: ${{ matrix.platform }}
          swift: ~${{ matrix.swift }}
          action: test
          verbosity: xcbeautify

  linux:
    if: github.event_name != 'pull_request' || !contains(github.event.pull_request.title, '[skip ci]')
    name: Linux (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - "6.1"
          - "6.2"
    container:
      image: swift:${{ matrix.swift }}
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        run: swift test

  android:
    name: Android (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Build Library
        uses: skiptools/swift-android-action@v2
        with:
          swift-version: ${{ matrix.swift }}
          build-tests: false
          run-tests: false
          free-disk-space: true
